/* Перезаписываем стили Bootstrap */
/*body{margin:0;font-family:Georgia, "Times New Roman", serif;font-size:14px;line-height:20px;color:#333333;background-color:#ffffff;}*/
/*h1,h2,h3,h4,h5,h6 {font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}*/

h3 {
	text-shadow: inset 1px 0 0 #fff;
}

.well {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

header {
	padding: 40px 0;

}
	header .description {
		font-size: 40px;
		line-height: 1em;
		font-family: Georgia, "Times New Roman", serif;
	}

	header .name {
		font-size: 80px;
		line-height: 1em;
		font-family: Georgia, "Times New Roman", serif;
	}

	header a, header a:hover {
		color: #b9002e;
		text-decoration: none;
	}

	header .intro {
		padding: 10px;
		background: #b9002e;
		color: #fff;
		font-family: Georgia, "Times New Roman", serif;
		font-size: 16px;
	}


h1 {
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
	color: #b9002e;
	font-weight: normal;
	margin-bottom: 40px;
	margin-top: 80px;
}
h1.pretitle {
	margin-bottom: 20px;
}
h1.subtitle {
	line-height: 0;
	margin-top: 0;
	font-size: 40px;
	color: #555;
}

h3 {
	margin-top: 20px;
	color: #b9002e;
}

h4 {
	margin-top: 16px;
	color: #529cfb;
}

.course-info {
	background: #f2f2f2;
	padding: 20px;
}

.footer {
	text-align: center;
	padding: 20px 0 80px 0;
	margin-top: 20px;
	border-top: 1px solid #eee;
}
	.footer a {
		color: #aaa;
	}


.course-shares {

}

	.course-shares > div {
		margin-bottom: 10px;
	}


.btn, input[type="text"], .alert, .popover {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}


.couch {
	min-height: 100px;
	margin-bottom: 20px;
}
	.couch .photo {
		float: left;
		margin-right: 10px;
	}

	.couch .info { margin-left: 110px; }
		.couch .info .name { font-size: 120%; font-weight: bold;}
		.couch .info .bio { font-size: 13px; line-height: 18px;}


.home-shares {
	margin: auto;
	margin-top: 20px;
	border-top: 1px solid #eee;
}
	.home-shares td {padding-top: 10px;}
	.home-shares .gplus {width: 100px;}
	.home-shares .twitter {width: 100px;}
	.home-shares .vk {width: 100px;}
	.home-shares .facebook {width: 200px;}


.single-page-notice { margin-bottom: 200px; }

.announce-for-course {
	font-weight: bold;
	color: green;
}

.popover { }
	.popover .popover-inner { font-size: 12px; line-height: 14px; }
		.popover .popover-inner .popover-title { font-weight: bold; padding: 5px 10px; }
		.popover .popover-inner .popover-content { padding: 10px; }


.announce {
	padding: 20px;
	border: 1px dashed #aaa;
}
	.announce h1 {
		margin-top: 0;
	}

blockquote {
	margin-bottom: 20px;
	font-size: 16px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
}